
@import "syntax-variables";


atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }
  .indent-guide {
    color: @syntax-indent-guide-color;
  }
  .invisible-character {
    color: @syntax-invisible-character-color;
  }
  &.is-focused {
    .cursor {
      border-color: @syntax-cursor-color;
    }
    &.vim-mode.command-mode .cursor {
      background-color: @syntax-cursor-color;
    }
    .cursor,
    &.vim-mode.command-mode .cursor {
      transition: opacity 0.3s ease-in-out;
      &.blink-off {
        visibility: visible;
        opacity: 0;
      }
    }

  }
  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }
      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }

  }
  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @syntax-gutter-text-color;
  }
  .invisible {
    color: @syntax-invisible-character-color;

  }
  .selection .region {
    background-color: @syntax-selection-color;
  }

}
.bracket-matcher .region {
  background-color: @base1;
  opacity: 0.5;
}


.comment, .punctuation.definition.comment.html {
  font-style: italic;
  color: @base1;
}
.constant {
  color: @orange;

  &.character.escape {
    color: @cyan;
  }
  &.numeric {
    color: @cyan;
  }
  &.other.color,
  &.other.color.rgb-value-scss {
    color: @orange;
    .punctuation.definition.constant.scss {
      color: @orange;
    }

  }
  &.other.symbol {
    color: @green;
  }
  &.language.boolean {
    color: @violet;
  }

}
.entity {
  color: @yellow;
  &.other {
    &.attribute-name {
      color: @yellow;
      &.html {
        color: @cyan !important;
      }
      &.placeholder.scss {
        color: @violet;
      }
      &.pseudo-element.css,
      &.pseudo-class.css,
      .pseudo-selector.css {
        color: @green;
      }
      &.namespace {
        color: @orange;
      }

    }
    &.inherited-class {
      color: @teal-dark;
    }
    &.less.mixin {
      color: @violet;
    }

  }
  &.name {
    &.tag {
      font-weight: bold;
      &.css {
        color: @teal-dark;
      }
      &.reference.scss {
        font-weight: normal;
        color: @yellow-bright;
      }

    }
    &.function.js {
      color: #488c45;
    }
    &.tag.namespace {
      color: #488c45;
    }
  }

}
// .entity.other.attribute-name.placeholder.scss {
//   color: @violet;
// }

.variable,
.variable.language,
.variable.other {
  color: @blue;

}
.delimiter,
.brace {
  color: @red;
}
.delimiter.period {
  color: @green;
}
.punctuation.section.property-list.begin, .punctuation.section.property-list.end {
  color: @red;
}

.invalid {
  &.deprecated {
    color: @red;
    background-color: #e8e9e8;
  }
  &.illegal {
    color: @red;
    background-color: rgba(255, 6, 0, 0.15);
  }

}
.keyword {
  color: @yellow-bright;
  &.control {
    color: #cd3700;
    &.js {
      color: @orange;
    }

  }
  &.operator {
    &.comparison {
      color: @red;
    }
    &.logical {
      color: @red;
    }
    &.js {
      color: @cyan-2;
    }

  }
  &.other {
    color: @brown;
    &.important {
      color: @red;
    }
    &.default {
      color: @red;
    }
  }

}
.punctuation {
  &.definition {
    &.comment {
      color: @middle-gray-0;
    }
    &.tag {
      color: @teal-dark;
      &.html,
      &.begin.html,
      &.end.html {
        color: @base1;
      }
    }
    &.string,
    &.parameters,
    &.array {
      color: @syntax-text-color;
    }
    &.variable {
      color: inherit;
    }
    &.heading,
    &.identity {
      color: @blue;
    }
    &.bold {
      color: @yellow;
      font-style: bold;
    }
    &.italic {
      color: @purple;
      font-style: italic;
    }

  }
  &.section.embedded {
    color: darken(@cyan, 15%);
    font-weight: bold !important;
    .source.php {
      color: inherit;
    }
  }

}
.punctuation.definition.keyword.css,
.punctuation.definition.keyword.scss,
.punctuation.definition.entity.css,
.punctuation.definition.entity.scss {
  color: inherit;

}
.storage {
  color: #a52a2a;
  &.type.js {
    color: @burgundy;
  }

}
.string {
  color: @green-light;
  &.quoted {
    &.double, &.single {
      color: @green-light;
      .constant.character.escape {
        color: inherit;
      }
    }
    &.double.js,
    &.single.js {
      color: @green-light;
    }

  }
  &.quoted.double.ruby .source.ruby.embedded.source {
    color: #007e69;
  }
  &.regexp {
    color: @green;
    background-color: #c9d4be;
  }

}
.support {
  color: @blue-dark;
  &.function {
    color: @teal-dark;
  }
  &.constant {
    color: @orange;
  }
  &.class.js {
    color: @blue;
  }
  &.type.property-name {
    color: @blue-dark;
  }
  &.constant.property-value {
    color: @orange;
  }

}
.support.function:not(.variable),
.keyword.other.special-method.ruby {
  color: @burgundy;

}
// .support.type.property-name.css, .meta.property-name {
//   color: @teal-dark;
// }

.variable {
  color: @purple;
  &.interpolation {
    &.scss {
      color:@yellow-bright;
    }
  }

}
.text .source {
  color: #7b211a;
  background-color: rgba(119, 173, 233, 0);

}
.meta.cast {
  color: @middle-gray-0;

}
.meta.sgml.html .meta.doctype,
.meta.sgml.html .meta.doctype .entity,
.meta.sgml.html .meta.doctype .string,
.meta.xml-processing,
.meta.xml-processing .entity,
.meta.xml-processing .string {
  color: @dark-gray-0;

}
.meta.tag,
.meta.tag .entity {
  color: @teal-dark;

}
.source .entity.name.tag,
.source .entity.other.attribute-name,
.meta.tag.inline,
.meta.tag.inline .entity {
  color: @teal-dark;

}
.meta {
  &.class {
    color: @yellow;

  }
  &.link {
    color: @orange;

  }
  &.require {
    color: @blue;

  }
  &.selector {
    color: @purple;

  }
  &.separator {
    background-color: #60a633;
    color: @dark-gray-1;
  }
  &.meta.function-call {
    color: @yellow;
  }

}
.source.js.embedded.html {
  color: @dark-gray-0;

}
.entity.name.class {
  color: #616838;
  background-color: #d7d7a7;

}
.active_guide {
  background-color: #968f96;

}
.highlight_matching_word {
  background-color: rgba(203, 220, 47, 0.22);

}


.status-modified {
  color: @syntax-color-modified;
}







// -- MARKUP

.markup {
  &.bold {
    font-weight: bold;
    color: #8b1a1a;
  }
  &.changed {
    color: #f8f8f8;
    background-color: #4a410d;
  }
  &.deleted {
    color: #f8f8f8;
    background-color: #420e09;
  }
  &.heading,
  &.heading .entity,
  &.heading .punctuation.definition.heading {
    color: #b8012d;
    background-color: rgba(191, 97, 51, 0.05);
  }
  &.inserted {
    color: #f8f8f8;
    background-color: #253b22;
  }
  &.italic {
    font-style: italic;
    color: #cd2626;
  }
  &.list {
    color: #8f5b26;
  }
  &.other {
    color: #578bb3;
    background-color: rgba(177, 179, 186, 0.03);
  }
  &.quote {
    font-style: italic;
    color: #8b7765;
    background-color: rgba(254, 224, 156, 0.07);
  }
  &.raw {
    color: #578bb3;
    background-color: rgba(177, 179, 186, 0.03);
  }
  &.underline {
    text-decoration: underline;
    color: #e18964;
  }
}
