
@light-gray-0: #eff1f5;
@light-gray-1: #c0c5ce;

@middle-gray-0: #65737e;
@middle-gray-1: #3d464f;

@dark-gray-0: #343D46;
@dark-gray-1: #2E3239;

@blue: #338FD5;
@cyan: #629F9E;
@cyan-2: #009ACD;
@green: #417E00;
@purple: #961e78;
@red: #B83126;
@orange: #CD6839;
@yellow: #B8860B;
@brown: #8B4726;


// Kuroir colors
@red-bright: #FD1732;
@teal-dark: #005273;
@green-light: #7f8e44;
@blue-dark: #104E8B;
@blue-medium: #1B76B0;
@burgundy: #B03060;
