@import "colors";
// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color:       #39393c;
@syntax-cursor-color:     #20202c;
@syntax-selection-color:  rgba(240, 197, 141, 0.6);
@syntax-background-color: #E8E8E8;

// Guide colors
@syntax-wrap-guide-color:          rgba(0, 0, 0, 0.15);
@syntax-indent-guide-color:        rgba(0, 0, 0, 0.15);
@syntax-invisible-character-color: rgba(0, 0, 0, 0.15);

// For find and replace markers
@syntax-result-marker-color:          rgba(0, 0, 0, 0.29);
@syntax-result-marker-color-selected: #363636;

// Gutter colors
@syntax-gutter-text-color:                #363636;
@syntax-gutter-text-color-selected:       #363636;
@syntax-active-line-color:                darken(@syntax-background-color, 2%);
@syntax-gutter-background-color:          darken(@syntax-background-color, 4%);
@syntax-gutter-background-color-selected: darken(@syntax-background-color, 10%);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed:  @cyan;
@syntax-color-added:    @green;
@syntax-color-modified: @orange;
@syntax-color-removed:  @red;
