@import "colors.less";
@import "syntax-variables.less";

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .wrap-guide {
  background-color: @syntax-wrap-guide-color;
}

atom-text-editor .lines .line.cursor-line {
  background-color: rgba(203, 220, 47, 0.21);
}

atom-text-editor .indent-guide {
  color: rgba(0, 0, 0, 0.15);
}

atom-text-editor .invisible-character {
  color: rgba(0, 0, 0, 0.29);
}

atom-text-editor.is-focused .cursor {
  border-color: #202020;
}

atom-text-editor.is-focused.vim-mode.command-mode .cursor {
  background-color: #202020;
}

atom-text-editor.is-focused .cursor,
atom-text-editor.is-focused.vim-mode.command-mode .cursor {
  transition: opacity 0.3s ease-in-out;
}

atom-text-editor.is-focused .cursor.blink-off,
atom-text-editor.is-focused.vim-mode.command-mode .cursor.blink-off {
  visibility: visible;
  opacity: 0;
}

atom-text-editor .gutter {
  background-color: #e8e9e8;
  color: #8f8f8f;
}

atom-text-editor .gutter .line-number.cursor-line {
  background-color: #e8e9e8;
  color: #363636;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection {
  color: #363636;
}

atom-text-editor .gutter .line-number.folded,
atom-text-editor .gutter .line-number:after,
atom-text-editor .fold-marker:after {
  color: #8f8f8f;
}

atom-text-editor .invisible {
  color: rgba(0, 0, 0, 0.29);
}

atom-text-editor .selection .region {
  background-color: rgba(231, 189, 125, 0.51);
}

.syntax--comment {
  color: rgba(148, 148, 148, 1);
  background-color: rgba(220, 220, 220, 0.45);
}

.syntax--comment.syntax--line.syntax--region {
  color: #A54776;
  background-color: rgba(233, 214, 220, 0.52);
}

.syntax--comment.syntax--line.syntax--marker.syntax--php {
  color: #668D68;
  background-color: #E9E4BE;
}

.syntax--comment.syntax--line.syntax--todo.syntax--php {
  color: #456E48;
  background-color: #D9EAB8;
}

.syntax--comment.syntax--line.syntax--fixme.syntax--php {
  color: #880006;
  background-color: #E1D0CA;
}

.syntax--constant {
  color: #CD6839;
}

.syntax--entity {
  color: #8B4726;
}

.syntax--storage {
  color: #A52A2A;
}

.syntax--keyword.syntax--control {
  color: #CD3700;
}

.syntax--support.syntax--function:not(.syntax--variable), .syntax--keyword.syntax--other.syntax--special-method.syntax--ruby {
  color: #B03060;
}

.syntax--keyword.syntax--operator.syntax--comparison, .syntax--keyword.syntax--operator.syntax--logical {
  color: #B83126;
}

.syntax--string {
  color: #639300;
}

.syntax--string.syntax--quoted.syntax--double.syntax--ruby .syntax--source.syntax--ruby.syntax--embedded.syntax--source {
  color: #007E69;
}

.syntax--support {
  color: #104E8B;
}

.syntax--variable {
  color: #009ACD;
}

.syntax--invalid.syntax--deprecated {
  font-style: italic;
  text-decoration: underline;
  color: #FD1732;
}

.syntax--invalid.syntax--illegal {
  color: #FD1224;
}

.syntax--text .syntax--source {
  color: #7B211A;
}

.syntax--entity.syntax--other.syntax--inherited-class {
  font-style: italic;
  color: #005273;
}

.syntax--string.syntax--regexp {
  color: #417E00;
}

.syntax--support.syntax--function {
  color: #005273;
}

.syntax--support.syntax--constant {
  color: #CF6A4C;
}

.syntax--entity.syntax--name.syntax--type {
  text-decoration: underline;
}

.syntax--meta.syntax--cast {
  font-style: italic;
  color: #676767;
}

.syntax--meta.syntax--sgml.syntax--html .syntax--meta.syntax--doctype, .syntax--meta.syntax--sgml.syntax--html .syntax--meta.syntax--doctype .syntax--entity, .syntax--meta.syntax--sgml.syntax--html .syntax--meta.syntax--doctype .syntax--string, .syntax--meta.syntax--xml-processing, .syntax--meta.syntax--xml-processing .syntax--entity, .syntax--meta.syntax--xml-processing .syntax--string {
  color: #494949;
}

.syntax--meta.syntax--tag, .syntax--meta.syntax--tag .syntax--entity {
  color: #005273;
}

.syntax--source .syntax--entity.syntax--name.syntax--tag, .syntax--source .syntax--entity.syntax--other.syntax--attribute-name, .syntax--meta.syntax--tag.syntax--inline, .syntax--meta.syntax--tag.syntax--inline .syntax--entity {
  color: #005273;
}

.syntax--entity.syntax--name.syntax--tag.syntax--namespace, .syntax--entity.syntax--other.syntax--attribute-name.syntax--namespace {
  color: #B85423;
}

.syntax--entity.syntax--name.syntax--tag.syntax--css {
  color: #B83126;
}

.syntax--meta.syntax--selector.syntax--css .syntax--entity.syntax--other.syntax--attribute-name.syntax--tag.syntax--pseudo-class {
  color: #B12E25;
}

.syntax--meta.syntax--selector.syntax--css .syntax--entity.syntax--other.syntax--attribute-name.syntax--id, .syntax--entity.syntax--other.syntax--attribute-name.syntax--id.syntax--css {
  color: #B8002D;
}

.syntax--meta.syntax--selector.syntax--css .syntax--entity.syntax--other.syntax--attribute-name.syntax--class, .syntax--entity.syntax--other.syntax--attribute-name.syntax--class.syntax--css {
  color: #B8012D;
}

.syntax--support.syntax--type.syntax--property-name.syntax--css, .syntax--meta.syntax--property-name {
  color: #005273;
}

.syntax--meta.syntax--preprocessor.syntax--at-rule .syntax--keyword.syntax--control.syntax--at-rule {
  color: #8693A5;
}

.syntax--meta.syntax--property-value {
  color: #417E00;
}

.syntax--constant.syntax--other.syntax--color {
  color: #B8860B;
}

.syntax--constant.syntax--numeric {
  color: #9A5925;
}


.syntax--keyword.syntax--other {
  color: #9F5E3D;
}

.syntax--keyword.syntax--other.syntax--important, .syntax--keyword.syntax--other.syntax--default {
  color: #EE3A8C;
}


.syntax--meta.syntax--property-value .syntax--support.syntax--constant.syntax--named-color.syntax--css, .syntax--meta.syntax--property-value .syntax--constant {
  color: #417E00;
}

.syntax--meta.syntax--constructor.syntax--argument.syntax--css {
  color: #417E00;
}




.syntax--source.syntax--scss .syntax--support.syntax--function.syntax--misc {
  color: #1B76B0;
}

.syntax--meta.syntax--diff, .syntax--meta.syntax--diff.syntax--header {
  font-style: italic;
  color: #F8BEBE;
}

.syntax--markup.syntax--deleted {
  color: #ccc;
}

.syntax--markup.syntax--changed {
  color: #ccc;
}

.syntax--markup.syntax--inserted {
  color: #ccc;
}

.syntax--markup.syntax--italic {
  font-style: italic;
  color: #CD2626;
}

.syntax--markup.syntax--bold {
  font-weight: bold;
  color: #8B1A1A;
}

.syntax--markup.syntax--underline {
  // text-decoration: underline;
  color: #E18964;
}

.syntax--markup.syntax--quote {
  font-style: italic;
  color: #8B7765;}

.syntax--markup.syntax--heading, .syntax--markup.syntax--heading .syntax--entity {
  color: #B8012D;
}

.syntax--markup.syntax--list {
  color: #8F5B26;
}

.syntax--markup.syntax--raw {
  color: #578BB3;
}

.syntax--markup .syntax--comment {
  font-style: italic;
  color: #F67B37;
}

.syntax--meta.syntax--separator {
  color: #60A633;
}

.syntax--markup.syntax--other {
  color: #578BB3;
}

.syntax--punctuation.syntax--definition.syntax--end, .syntax--punctuation.syntax--definition.syntax--begin {
  color: #969fa2;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--html {
  color: #629F9E;
}

.syntax--string.syntax--quoted.syntax--double.syntax--js, .syntax--string.syntax--quoted.syntax--single.syntax--js {
  color: #79A316;
}

.syntax--entity.syntax--name.syntax--function.syntax--js {
  font-style: italic;
  color: #488C45;
}

.syntax--source.syntax--js.syntax--embedded.syntax--html {
  color: #666;
}

.syntax--storage.syntax--type.syntax--js {
  color: #BB3182;
}

.syntax--support.syntax--class.syntax--js {
  color: #338FD5;
}


.syntax--entity.syntax--name.syntax--class {
  color: #616838;
}

.syntax--active_guide {
  background-color: #968F96;
}

.syntax--highlight_matching_word {
  background-color: rgba(203, 220, 47, 0.22);
}


// SASS

.syntax--entity.syntax--name.syntax--tag.syntax--custom.syntax--scss {
  color: @purple;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--pseudo-element.syntax--css {
  color: @rosybrown;
}

.syntax--constant.syntax--other.syntax--rgb-value.syntax--css {
  color: @wild-willow;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--class.syntax--css {
  color: @lingonbery;
  background-color: transparent;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--attribute.syntax--scss {
  color: @indianred;
}
.syntax--string.syntax--quoted.syntax--double.syntax--attribute-value.syntax--scss {
  color: @goldenrod;
}
.syntax--variable.syntax--interpolation.syntax--scss {
  color: @barely-pink;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--placeholder.syntax--scss {
  color: @mediumpurple;
  .syntax--punctuation.syntax--definition.syntax--entity.syntax--scss {
    color: inherit;
  }
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--pseudo-element.syntax--css {
  color: @indianred;
}



.syntax--entity.syntax--other.syntax--attribute-name.syntax--pseudo-class.syntax--css {
  color: @ship-cove;
}

.syntax--entity.syntax--name.syntax--tag.syntax--scss {
  color: @yellow;
}



//html-angular

.syntax--meta.syntax--tag.syntax--template.syntax--angular {
  color: @coral-tree;
}

.syntax--meta.syntax--tag.syntax--template.syntax--angular .syntax--keyword.syntax--operator.syntax--js {
  color: inherit;
}

.syntax--meta.syntax--tag.syntax--template.syntax--angular .syntax--punctuation.syntax--definition.syntax--block.syntax--begin.syntax--angular,
.syntax--meta.syntax--tag.syntax--template.syntax--angular .syntax--punctuation.syntax--definition.syntax--block.syntax--end.syntax--angular {
  color: @plum;
}

.syntax--meta.syntax--tag.syntax--template.syntax--angular .syntax--meta.syntax--brace.syntax--curly.syntax--js {
  color: #d2952a;
}

.syntax--meta.syntax--attribute.syntax--html.syntax--angular .syntax--entity.syntax--other.syntax--attribute-name.syntax--html.syntax--angular {
  color: inherit;
}

.syntax--keyword.syntax--control.syntax--js,
.syntax--keyword.syntax--operator.syntax--js,
.syntax--meta.syntax--tag.syntax--template.syntax--angular .syntax--keyword.syntax--operator.syntax--js {
  color: @comet;
  font-weight: bold;
}



.syntax--bracket-matcher .syntax--region {
  border-bottom: 1px solid #202020;
  box-sizing: border-box;
  background-color: #c4c6c4;
}
