
@light-gray-0:  #eff1f5;
@light-gray-1:  #c0c5ce;

@middle-gray-0: #65737e;
@middle-gray-1: #3d464f;

@dark-gray-0:   #343D46;
@dark-gray-1:   #2E3239;

@blue:          #268bd2;
@brown:         #8B4726;
@cyan-2:        #009ACD;
@cyan:          #629F9E;
@green:         #417E00;
@orange:        #cf6a4d;
@purple:        #961e78;
@red:           #B83126;
@violet:        #6c71c4;
@yellow:        #B8860B;
@yellow-bright: #d2952a;


// Kuroir colors
@blue-dark:   #104E8B;
@blue-medium: #1B76B0;
@burgundy:    #B03060;
@green-light: #639300;
@red-bright:  #FD1732;
//@teal-dark:   #016786;
@teal-dark:   #005273;

@base03: #002b36;
@base02: #073642;
@base01: #636f76;
@base00: #798189;
@base0:  #869398;
@base1:  #969fa2;


// from ui-variables
@text-color: #333;
@text-color-subtle: #777;
@text-color-highlight: #111;
@text-color-selected: @text-color-highlight;

@text-color-info: #1B76B0;
@text-color-success: #417E00;
@text-color-warning: ;
@text-color-error: #c00;




// grays
@white:               #FFFFFF;
@ghost:               #FAFAFA;
@snow:                #F9F9F9;
@vapor:               #F6F6F6;
@white-smoke:         #F5F5F5;
@silver:              #EFEFEF;
@smoke:               #E6E1DC;
@gainsboro:           #dcdcdc;
@iron:                #CCCCCC;
@silver:              #c0c0c0;
@base:                #AAAAAA;
@aluminum:            #999999;
@jumbo:               #888888;
@monsoon:             #797979;
@steel:               #666666;
@charcoal:            #555555;
@tuatara:             #404040;
@oil:                 #333435;
@jet:                 #2E2E2E;
@black:               #000000;

@tuatara-transparent: rgba(64, 64, 64, 0.7);

// reds
@lingonbery:          #b94343;
@red-berry:           #990000;
@lonestar:            #660000;

// oranges
@coral:               #ff7f50;
@brandy-punch:        #CC7832;
@raw-sienna:          #CC7833;
@dark-salmon:         #e9967a;
@indianred:           #cd5c5c;
@tomato:              #ff6346;
@tuscany:             #c45330;
@mojo:                #c45837;

// yellows
@rob-roy:             #E8BF6A;
@koromiko:            #FFC66D;
@equator:             #e5b567;
@palegoldenrod:       #eee8aa;
@gold:                hsl(45, 40%, 55%);

// greens
@light-green:         #90ee90;
@wild-willow:         #97a860;
@dark-khaki:          #bdb76b;
@dark-sea-green:      #8fbc8f;
@parsley:             #144212;
@mediumaquamarine:    #66cdaa;
@teal:                #53b1b1;

// blues
@lightsteelblue:      #b0c4de;
@sky-blue:            #87ceeb;
@cadetblue:           #5f9ea0;
@hippie-blue:         #6D9CBE;
@ship-cove:           #6c99bb;
@govenor-bay:         #2F33AB;

// purples
@periwinkle:          #D0D0FF;
@plum:                hsl(300, 30%, 77%);
@comet:               #5A647E;
@coral-tree:          #a1617a;
@barely-pink:         #c3879e;
@cannon-pink:         #90516b;
@thistle:             #d8bfd8;

// browns
@tan:                 #d2b48c;
